[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pynvim = "*"
python-language-server = "*"
jupyter = "*"
yapf = "*"

[packages]
tqdm = "*"
bunch = "*"
tensorflow = "==2.1.0rc0"

[requires]
python_version = "3.7"
