[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pynvim = "*"
python-language-server = "*"
jupyter = "*"
yapf = "*"

[packages]
tqdm = "*"
joblib = "*"
bunch = "*"
tensorflow = "*"

[requires]
python_version = "3.7"
