[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
matplotlib = "*"
bunch = "*"
tqdm = "*"
jupyter = "*"
rdkit-pypi = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
